@import '~antd/lib/style/themes/default.less';

:global {
  // .sortable-drag {
  //   border: 1px dashed #000 !important;
  // }

  .sortable-chosen {
    border: 1px dashed #000 !important;
  }

  .nested-sortable {
    width: 100%;
  }

  .sortable-related {
    min-height: 24px;
    min-width: 64px;
    border: 1px dashed #fff !important;
    background-color: #8af091;
  }

  .list-item {
    padding: 2px;
    &:hover {
      border: 1px dashed #000 !important;
    }
  }

  .vw {
    width: 100%;
  }

  .block{
    padding: 2px;
    &:hover {
      border: 1px dashed #000 !important;
    }
  }
  .inline-block {
    display: inline-block;
  }
}

.card {
  height: 100%;
  .wrap{
    display: flex;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
    border: 1px solid #ccc;
  }
  .listItem {
    margin: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
    // background-color: rgb(109, 145, 95);
    border: 1px solid #ccc;;
    cursor: default;
  }
  .container {
    flex: 1;
    border: 1px solid #ccc;
  }

  .iframe {
    width: 100%;
    border: 1px solid #000;
  }

  .preview {
    margin-top: 20px;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
  }
}

