@import '~antd/lib/style/themes/default.less';

:global {
  // .sortable-drag {
  //   border: 1px dashed #000 !important;
  // }

  .sortable-chosen {
    border: 1px dashed #000 !important;
  }

  .nested-sortable {
    width: 100%;
  }

  .sortable-related {
    min-height: 24px;
    min-width: 64px;
    border: 1px dashed #fff !important;
    background-color: #8af091;
  }

  .sortable-disable {
    background-color: #ff7875;
  }

  .list-item {
    padding: 2px;
    &:hover {
      border: 1px dashed #000 !important;
    }
  }

  .vw {
    width: 100%;
  }

  .block{
    padding: 2px;
    &:hover {
      border: 1px dashed #000 !important;
    }
  }
  .inline-block {
    display: inline-block;
  }
  .contains {
    display: contents;
  }
  .carousel{
    height: 160px;
    color: rgb(255, 255, 255);
    line-height: 160px;
    text-align: center;
    background: rgb(54, 77, 121);
  }

  .ant-modal-root-rewrite {
    position: inherit;
    overflow: unset;
    .ant-modal {
      top: 0;
      padding-bottom: 0;
    }
  }

  .item-active {
    border: 1px dashed #000 !important;
  }
}

.card {
  // height: 100%;
  .wrap{
    display: flex;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
  }
  .listItem {
    margin: 5px;
    padding: 5px;
    width: 120px;
    text-align: center;
    // background-color: rgb(109, 145, 95);
    border: 1px solid #ccc;;
    cursor: default;
  }
  .container {
    flex: 1;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
  }
  .propsContainer {
    width: 200px;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
  }
  .iframe {
    width: 100%;
    border: 1px solid #000;
  }

  .preview {
    margin-top: 20px;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
  }
  .outer {
    height: 100px;
  }
  .left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgb(235, 123, 79);
  }
  .right {
    margin-left: 200px;
    background-color: rgb(88, 176, 235);
    height: 100%;
  }
}

