@import '~antd/lib/style/themes/default.less';

:global {
  .sortable-drag {
    border: 1px dashed #000 !important;
  }
  .sortable-chosen {
    border: 1px dashed #000 !important;
  }
}

.card {
  :global {
    .ant-card-body {
      display: flex;
    }
  }
  .list {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
  }
  .listItem {
    margin: 5px;
    padding: 10px;
    // background-color: rgb(109, 145, 95);
    border: 1px solid #ccc;
  }
  .container {
    flex: 1;
    border: 1px solid #ccc;
  }
  .iframe {
    width: 100%;
    border: 1px solid #000;
  }
}

